<h1>Edit Entry <%= @entry.id %> for <%= @project.name %> </h1>

<%= form_for([@project, @entry]) do |frm| %>
	<div class="form-group">
		<%= frm.label(:hours) %>
		<%= frm.text_field(:hours, :class => "form-control") %>
		<br>
		<%= frm.label(:minutes) %>
		<%= frm.text_field(:minutes, :class => "form-control") %>
		<br>	
		<%= frm.label(:date) %>
		<%= frm.date_field(:date, :class => "form-control") %>
		<br>	
		<%= frm.label(:comment) %>
		<%= frm.text_field(:comment, :class => "form-control") %>
		<br>
	</div>	
	<br>
	<div style="text-align:center">
		<button type="submit" class="btn btn-danger">Update Entry</button>
		<a href=<%= projects_path %> class="btn btn-danger">Return to project list</a>
	</div>
<% end %>

<% if @entry.errors.any? %>
	<h2>There appears to be the following error(s):</h2>
	<ul>
		<% @entry.errors.full_messages.each do |err| %>
			<li><%= err %></li>
		<% end %>
	</ul>
<% end %>
<br>