<br>
<%= flash_message %>

<div style="text-align:center">
	<h1>ENTRY LIST</h1>
	<h2>Project: <strong><%= @project.name %></strong></h2>
</div>

<% if @project.entries != [] %>
	<% @project.entries.each do |entr| %>
		<strong>Time:</strong><%= entr.hours %> hour
		<%= entr.minutes %> minutes
		<br>
		<strong>Comment:</strong><%= entr.comment %>
		<br>
		<strong>Date:</strong><%= entr.date %>	
		<br>
		<!-- Edit Button -->
		<a href=<%= edit_project_entry_path(@project, entr) %> class="btn btn-warning">Edit</a>
		<!-- Delete Button -->
		<%= link_to('Delete', project_entry_path(@project, entr), :method => :delete, :class => 'btn btn-danger', :data => {confirm: 'Are you sure?'}) %>
		<br><br>
	<% end %>
<% else %>
	<h3>You Made No Entries for This Project!</h3>
<% end %>

<span class="total-hours">
<strong>Total hours worked:</strong> <%= @hours %> hours
</span>

<br>
<div style="text-align:center">
	<a href=<%= new_project_entry_path %> class="btn btn-primary">Add a new entry</a>
	<a href=<%= projects_path %> class="btn btn-primary">Return to project list</a>
</div>
<br>